<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vet.alecri.notifigachi">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <receiver android:name=".foreground.AButtonReceiver">
            <intent-filter>
                <action android:name="vet.alecri.notifigachi.AButton">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".foreground.BButtonReceiver">
            <intent-filter>
                <action android:name="vet.alecri.notifigachi.BButton">
                </action>
            </intent-filter>
        </receiver>

        <receiver android:name=".foreground.CButtonReceiver">
            <intent-filter>
                <action android:name="vet.alecri.notifigachi.CButton">
                </action>
            </intent-filter>
        </receiver>

        <service
            android:name=".foreground.MyForeGroundService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".foreground.CreateForegroundServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>

